In [1]:
from source import data

In [2]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

% matplotlib inline

In [3]:
data.path_string('recognition', 'train.csv')

'c:\\AllProjects\\kagglelandmarks\\data\\recognition\\train.csv'

In [4]:
df_train = pd.read_csv(data.path_string('recognition', 'train.csv'))

In [5]:
landmark_counts = df_train.groupby('landmark_id').count()

In [9]:
distribution = landmark_counts.groupby('url').count()
distribution.tail()

       id
url
13271   1
18471   1
23415   1
50148   1
50337   1